# tmp files
tmp/
**/*.tmp
build/
**/test/
!/test
.cache
old/
bak/

# bin files
**/*.o
**/*.out
bin/
**/*.bin

# log files
logs/
*.log

# docs
**/*.pdf

# workspace configs
CHANGELOG.md
.TODO
**/compile_flags.txt
.vscode
*.code-workspace
.stignore

*.ods*

# override some files listed in .gitignore of SimpleSSD
!Makefile
!scripts/Makefile
!compile_flags.txt
!test/googletest/googlemock/test
!test/googletest/googletest/test
